.movies-info {
  width: 325px;
  position: relative;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.modal-open {
  visibility: visible;
}

.movies-info__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  top: 15px;
  margin: 0;
  border: none;
  border-radius: 9px;
  background-color: #ffffff;
  padding: 2px 12px;
  color: #00000099;
}

.movies-info__poster {
  width: 100%;
  border-radius: 19px;
  border: 1px solid #0000004d;
}
